<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285761296189-b2ungmmnfuq6jnulo38c2ikji90nmkru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285761296189-b2ungmmnfuq6jnulo38c2ikji90nmkru</string>
	<key>API_KEY</key>
	<string>AIzaSyAhWA9WFzE6EEE8gncA3IouluZthW7ErGo</string>
	<key>GCM_SENDER_ID</key>
	<string>285761296189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deam.recipe-app</string>
	<key>PROJECT_ID</key>
	<string>recipes-e32be</string>
	<key>STORAGE_BUCKET</key>
	<string>recipes-e32be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285761296189:ios:b984c08a7cf8b06ce25754</string>
</dict>
</plist>